:root {
  --dimension: 16;
}

.container {
  display: grid;
  grid-template-rows: repeat(var(--dimension), 1fr);
  grid-template-columns: repeat(var(--dimension), 1fr);
  border: 1px solid black;
  width: 500px;
  height: 500px;
}


.box {
  border: 1px solid black;
  background-color: lightgrey;
}

.center-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}
